* {
  font-family: "Special Elite", "cursive", "serif";
  box-sizing: border-box;
}
#main-header {
  background-color: #408888;
  text-align: center;
}
header {
  font-size: 36px;
  padding: 10px;
}

#header {
  margin-bottom: 10px;
}

h2 {
  color: #408888;
}

#navigation {
  margin: auto;
  padding: auto;
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url(assets/images/background.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#sub-header {
  color: #408888;
  padding: 10px 20px 0px 10px;
  font-size: 30px;
}

.row {
  overflow: auto;
  background-color: #eee;
}

#contact {
  width: 75%;
  padding: 20px;
  margin-bottom: 100px;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 26px;
  color: #408888;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
